@model Keeltekooli.Models.RegistreerimineViewModel

@{
    ViewBag.Title = "Registreerimine";
}

<h2>Registreerimine</h2>

@if (ViewBag.Koolitus != null)
{
    <div>
        <strong>Koolitus:</strong> @ViewBag.Koolitus.Keelekursus.Nimetus (@ViewBag.Koolitus.AlgusKuupaev.ToString("yyyy-MM-dd"))
    </div>
}
else
{
    <div>
        <strong>Koolitus:</strong> -
    </div>
}

@using (Html.BeginForm("Create", "Registreerimines", FormMethod.Post))
{
    @Html.AntiForgeryToken()

@Html.HiddenFor(m => m.KoolitusId)  
 @Html.Hidden("koolitusId", (int)ViewBag.Koolitus.Id) 

<div class="form-group">
        @Html.LabelFor(model => model.Nimi, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Nimi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Nimi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registreeri" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
