@model IEnumerable<Keeltekooli.Models.RegistreerimineViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Koolitus.Id)
        </th>
        <th>
            Kursus
        </th>
        <th>
            Nimi
        </th>
        <th>
            Email
        </th>
        <th>Status</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Koolitus.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Koolitus.Keelekursus.Nimetus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staatus)
        </td>
        <td>
            @Html.ActionLink(
                "Vaheta staatus",         // текст кнопки
                "VahetaStaatus",          // Action
                new { id = item.Id },        // параметр
                new { @class = "btn btn-sm btn-primary" } // CSS
            )
        </td>
    </tr>
}

</table>
