@model IEnumerable<Keeltekooli.Models.Keelekursus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimetus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kirjeldus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nimetus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kirjeldus)
        </td>
        @if (User.Identity.IsAuthenticated)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>}
    </tr>
}

</table>
