@model IEnumerable<Keeltekooli.Models.Keelekursus>

@{
    ViewBag.Title = "Keelekursused";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Lisa Kursus", "Create")
</p>}
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Nimetus)</td>
            <td>@Html.DisplayFor(m => item.Keel)</td>
            <td>@Html.DisplayFor(m => item.Tase)</td>


            <td>
                @Html.ActionLink("Koolitused", "Index", "Koolitus",
                    new { keelekursusId = item.Id },
                    new { @class = "btn btn-outline-dark btn-sm" })

                @if (User.IsInRole("Admin"))
                {
                    @: |
                    @Html.ActionLink("Muuda", "Edit", new { id = item.Id })
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
